* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
}

#etusivu {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 91vw;
    height: 37vw;
    margin-top: 10vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    color: lawngreen;
    background-image: url('kuvat/etusivu.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#pelaajat {
    margin-top: 25vh;
}

#pelaa {
    height: 60px;
    width: 110px;
    margin-bottom: 10vh;
}

#p1, #p2 {
    font-size: 1em;
    background-color: lightseagreen;
    color: white;
}

input[type='submit'] {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    padding: 15px 20px;
    margin-top: 2%;
    margin-left: 44%;
    border-radius: 5px;
    background-color: lightseagreen;
    color: lawngreen;
}
